@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .visual-divider {
    border-top: 2px solid hsl(236, 13%, 42%);
    opacity: 0.4;
    margin-bottom: 1.5rem;
  }
  .mobile-active-menu {
    position: absolute;
    top: -2rem;
    left: 30%;
    right: -1.25rem;
    /* -webkit-box-shadow: -200px 200px 0px 200px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -200px 200px 0px 200px rgba(0, 0, 0, 0.71); */
    box-shadow: -100px -78px 5px 5000px rgba(0, 0, 26, 0.6);
  }
}

body {
  background-color: hsl(36, 100%, 99%);
  /* background-color: hsl(0, 0%, 58%); */
  font-family: "Inter Variable", sans-serif;
}
